
@{
    ViewBag.Title = "Reclamaciones";
    Layout = "~/Views/Share/_BaseLayout.cshtml";
}

@section user{
    <p>
        @ViewBag.UsuarioNombre
    </p>
    @if (!User.IsInRole("Admin"))
    {
        <span>
            @ViewBag.CondominioNombre
        </span>
    }
}




<div id="header">
    <h3>Reclamaciones</h3>
    <br>
    <input type="text" name="" id="Buscar" placeholder="Ingrese el dato a buscar:">
</div>

<hr>



<table id="FullTable">
    <tr>
        <th>Condominio</th>
        <th>Inquilino</th>
        <th>Descripción</th>
        <th>Nota</th>
        <th>Costo</th>
        <th>Estado</th>
        <th>Más</th>
    </tr>

    <tbody id="Tabla">
	@foreach(CondominioHosting.Models.BusquedaReclamacionProcResult Ct in ViewBag.listado)
	{
	<tr>
		<td>@Ct.CondominioNombre</td>
		<td>@Ct.PropiedadCodigo</td>
		<td>@Ct.ReclamacionDescripcion</td>
		<td>@Ct.ReclamacionNota</td>
		<td>$ @Ct.ReclamacionCosto</td>
        <td>@Ct.TipoReclamacionDescripcion</td>

		<td>
			<div class="btn-group dropleft">
				<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>

				<div class="dropdown-menu">
                    <a href="#ventana4" data-toggle="modal" class="dropdown-item mod2" value="@Ct.ReclamacionId">Solucionar</a>
					<a href="#ventana1" data-toggle="modal" class="dropdown-item mod" value="@Ct.ReclamacionId">Modificar</a>
					<a href="#ventana2" data-toggle="modal" class="dropdown-item des" value="@Ct.ReclamacionId">Cancelar</a>
				</div>

			</div>
		</td>

	</tr>


	}

    </tbody>


</table>

<div class="modal fade bd-example-modal-lg" aria-labelledby="myLargeModalLabel" id="ventana4">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4>Solucionar reclamación</h4>
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
                <form>
                    <label>Empleado o Contratista:</label>
                    <select id="Empleado" class="form-control" required>
                        @foreach (CondominioHosting.Models.ComboBoxEmpleadoContratistaProcResult Persona in ViewBag.contratista)
                        {
                            <option value="@Persona.PersonaId">@Persona.PersonaNombre @Persona.PersonaApellido</option>
                        }
                    </select>
                    <br>
                    <label>Nota:</label>
                    <textarea id="Nota" class="form-control" name="" required></textarea>
                    <label>Costo:</label>
                    <input id="Costo" type="number" name="" class="form-control" required /> <br>
                    <label>Estado:</label>
                    <select id="Tipo" class="form-control" required>
                        @foreach (CondominioHosting.Models.TipoReclamacionTable R in ViewBag.tipo)
                        {
                            <option value="@R.TipoReclamacionId">@R.TipoReclamacionDescripcion</option>
                        }
                    </select>
                    <input id="modificar2" type="submit" class="float-right btn btn-success" name="" value="Guardar">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                    <input id="Solucionar" type="submit" class="float-right btn btn-success" name="" value="Guardar">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" aria-labelledby="myLargeModalLabel" id="ventana1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4>Modificar reclamación</h4>
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
                <form>
                    <label>Inquilino:</label>
                    <select id="Inquilino" class="form-control" name="ReclamacionPersonaId">
                        @foreach (CondominioHosting.Models.BusquedaInquilinoProcResult Persona in ViewBag.inquilino)
                        {
                            <option value="@Persona.PersonaId">@Persona.PersonaNombre @Persona.PersonaApellido</option>
                        }
                    </select>
                    <br>
                    <label>Propiedad:</label>
                    <select id="Propiedad" class="form-control" name="ReclamacionPropiedadID">

                        @foreach (CondominioHosting.Models.BusquedaPropiedadProcResult Propiedad in ViewBag.propiedad)
                        {
                            <option value="@Propiedad.PropiedadId">@Propiedad.PropiedadCodigo</option>
                        }

                    </select><br>
                    <label>Descripción:</label>
                    <textarea id="Descripcion" class="form-control" name="ReclamacionDescripcion" required></textarea>
                    <br>
                  
                    <input id="modificar" type="submit" class="float-right btn btn-success" name="" value="Guardar">

                </form>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" tabindex="-1" role="dialog" id="ventana2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cancelar reclamación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea cancelar la reclamación? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button id="deshabilitar" type="button" class="btn btn-primary" data-dismiss="modal">Si</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" aria-labelledby="myLargeModalLabel" id="ventana3">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4>Ingresar reclamación</h4>
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
                <form method="post" action="/Reclamaciones/Index">
                    @if (User.IsInRole("Admin"))
                    {
                        <label>Condominio:</label>
                        <select class="form-control"  name="ReclamacionCondominioId" id="Condominio">
                            @foreach (CondominioHosting.Models.BusquedaCondominioProcResult Ct in ViewBag.condominio)
                            {
                                <option value="@Ct.CondominioId">@Ct.CondominioNombre</option>
                            }
                        </select>
                    }
                    @if (User.IsInRole("Reclamaciones"))
                    {
                        <input type="hidden" name="ReclamacionCondominioId" value="@ViewBag.CondominioId" />
                    }
                    <label>Inquilino:</label>
                    <select class="form-control" name="ReclamacionPersonaId" required id="SelectInquilino">
                        @foreach (CondominioHosting.Models.BusquedaInquilinoProcResult Persona in ViewBag.inquilino)
                        {
                            <option value="@Persona.PersonaId">@Persona.PersonaNombre @Persona.PersonaApellido</option>
                        }
                    </select>
                    <br>
					<input type="hidden" name="ReclamacionSolucionado" value="false"/>
                    <label>Propiedad:</label>
                    <select class="form-control" name="ReclamacionPropiedadID"  id="SelectPropiedad" required>

						@foreach(CondominioHosting.Models.BusquedaPropiedadProcResult Propiedad in ViewBag.propiedad){
							<option value="@Propiedad.PropiedadId">@Propiedad.PropiedadCodigo</option>
						}

                    </select><br>
                    <label>Descripción:</label>
                    <textarea class="form-control" name="ReclamacionDescripcion" required></textarea>
                    <br>
					<input type="hidden" name="ReclamacionActivo" value="true" />
                    <input type="hidden" name="ReclamacionTipoId" value="1" />

                    <input type="submit" class="float-right btn btn-success" name="" value="Guardar">

                </form>
            </div>
        </div>
    </div>
</div>

<a href="#ventana3" id="btn-agregar" class="btn btn-success" data-toggle="modal">Agregar</a>


@section script{
    <script>
        var id;
        $(document).ready(function () {

            $('#Condominio').on("change", function (e) {
                $('#SelectInquilino option').remove();
                var IdCondominio = $('#Condominio').val();
                if (IdCondominio > 0) {
                    var datos = { "condominio": IdCondominio };
                    $.ajax({
                        type: "GET",
                        url: "/Reclamaciones/CambiarCombo/",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: datos,
                        success: function (data) {
                            debugger;
                            if (data != null)

                            $.each(data, function (key, value) {

                                $("#SelectInquilino").append("<option value=" + value.PersonaId + ">" + value.PersonaNombre + "</option>");
                            });

                        },
                        error: function (data) {
                            debugger;
                            alert('error');
                        }
                    });
                } else {

                }

            });

            $('#SelectInquilino').on("change", function (e) {
                $('#SelectPropiedad option').remove();
                var IdInquilino = $('#SelectInquilino').val();
                if (IdInquilino > 0) {
                    var datos = { "inquilino": IdInquilino };
                    $.ajax({
                        type: "GET",
                        url: "/Reclamaciones/CambiarCombo2/",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: datos,
                        success: function (data) {
                            debugger;
                            if (data != null)

                            $.each(data, function (key, value) {

                                $("#SelectPropiedad").append("<option value=" + value.PropiedadId + ">" + value.PropiedadCodigo + "</option>");
                            });

                        },
                        error: function (data) {
                            debugger;
                            alert('error');
                        }
                    });
                } else {

                }

            });

            $("#Buscar").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#Tabla tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            $(".des").on("click", function () {
                id = $(this).attr("value");
            });



            $("#deshabilitar").on("click", function () {
                var data;
                $.ajax({ method: "POST", url: "/Reclamaciones/Deshacer/" + id, data: data });
                $("#FullTable").load(" #FullTable");

            });

            $(".mod").on("click", function () {
                id = $(this).attr("value");
                var data;
                $.ajax({
                    method: "GET", url: "/Reclamaciones/ObtenerDatos/" + id, data: data,
                    success: function (data) {
                        debugger;
                        document.getElementById('Inquilino').value = data.inquilino;
                        document.getElementById('Propiedad').value = data.propiedad;
                        document.getElementById('Descripcion').value = data.descripcion;
                    },
                    error: function (data) {
                        debugger;
                        alert('error');
                    }

                });

            });

            $(".mod2").on("click", function () {
                id = $(this).attr("value");
                var data;
                $.ajax({
                    method: "GET", url: "/Reclamaciones/ObtenerDatos2/" + id, data: data,
                    success: function (data) {
                        debugger;
                        document.getElementById('Empleado').value = data.empleado;
                        document.getElementById('Nota').value = data.nota;
                        document.getElementById('Costo').value = data.costo;
                        document.getElementById('Tipo').value = data.tipo;
                    },
                    error: function (data) {
                        debugger;
                        alert('error');
                    }

                });

            });

            $("#modificar").on("click", function () {
                var inquilino = document.getElementById('Inquilino').value;
                var propiedad = document.getElementById('Propiedad').value;
                var descripcion = document.getElementById('Descripcion').value;
                var data2 = { "inquilino": inquilino, "propiedad": propiedad, "descripcion": descripcion };
                $.ajax({ method: "POST", url: "/Reclamaciones/Modificar/" + id, data: data2 });
            });

            $("#Solucionar").on("click", function () {
                var empleado = document.getElementById('Empleado').value;
                var nota = document.getElementById('Nota').value;
                var costo = document.getElementById('Costo').value;
                var tipo = document.getElementById('Tipo').value;
                var data2 = { "empleado": empleado, "nota": nota, "costo": costo, "tipo": tipo };
                $.ajax({ method: "POST", url: "/Reclamaciones/Modificar2/" + id, data: data2 });
            });

        });
    </script>
}