d
@{
    ViewBag.Title = "Contratistas";
    Layout = "~/Views/Share/_BaseLayout.cshtml";
}

@section user{
    <p>
        @ViewBag.UsuarioNombre
    </p>
    @if (!User.IsInRole("Admin"))
    {
        <span>
            @ViewBag.CondominioNombre
        </span>
    }
}

<div id="header">

    <h3>Buscar Contratistas</h3>
    <br>
    <input type="text" name="" id="Buscar" placeholder="Ingrese el dato a buscar:">


</div>

<hr>

<table id="FullTable">
    <tr>
        <th>Condominio</th>
        <th>Nombre Completo</th>
        <th>Cédula</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Tipo de servicio</th>
        <th>Más</th>




    </tr>
    <tbody id="Tabla">
        @foreach (CondominioHosting.Models.BusquedaContratistaProcResult Ct in ViewBag.listado)
        {
            <tr>
                <td>@Ct.CondominioNombre</td>
                <td>@Ct.PersonaNombre @Ct.PersonaApellido</td>
                <td>@Ct.PersonaDocumento</td>
                <td>@Ct.PersonaTelefono</td>
                <td>@Ct.PersonaDireccion</td>
                <td>@Ct.ServicioContratistaNombre</td>
                <td>
                    <div class="btn-group dropleft">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>

                        <div class="dropdown-menu">
                            <a href="#ventana1" data-toggle="modal" class="dropdown-item mod" value="@Ct.PersonaId">Modificar</a>
                            <a href="#ventana2" data-toggle="modal" class="dropdown-item des" value="@Ct.PersonaId">Deshabilitar</a>
                        </div>

                    </div>
                </td>

            </tr>}
    </tbody>




</table>


<div class="modal fade bd-example-modal-lg" aria-labelledby="myLargeModalLabel" id="ventana1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4>Modificar Contratistas</h4>
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
                <form>

                    <label>Nombre:</label>
                    <input id="Nombre" type="text" name="PersonaNombre" class="form-control" maxlength="50" required pattern="[ a-zA-Z_-]{2,40}"  title="Solo las letras estan permitidas">
                    <label>Apellido:</label>
                    <input id="Apellido" type="text" name="PersonaApellido" class="form-control" maxlength="50" required pattern="[ a-zA-Z_-]{2,40}"  title="Solo las letras estan permitidas">
                    <label>Sexo:</label>
                    <select id="Sexo" class="form-control" name="PersonaSexoId">
                        @foreach (CondominioHosting.Models.SexoTable sexo in ViewBag.sexo)
                        {
                            <option value="@sexo.SexoId">@sexo.SexoDescripcion</option>
                        }
                    </select>
                    <label>Teléfono:</label>
                    <input id="Telefono" type="text" name="PersonaTelefono" class="form-control Telefono" required><br />
                    <label>Documento:</label><br />
                    <input id="Documento" type="text" name="PersonaDocumento" class="form-control cedula" required />
                    <label>Dirección:</label><br>
                    <textarea id="Direccion" class="form-control" name="PersonaDireccion" required></textarea><br />
                    <label>Nombre Compañía:</label>
                    <input id="Compa" type="text" name="PersonaCompañia" class="form-control" required>
                    <label>RNC:</label>
                    <input id="RNC" type="text" name="PersonaRNC" class="form-control" required><br>
                    <label>Tipo de servicio</label>
                    <select id="Servicio" class="form-control" name="PersonaServicio">
                        @foreach (CondominioHosting.Models.ServicioContratistaTable ServicioC in ViewBag.servicio)
                        {
                            <option value="@ServicioC.ServicioContratistaId">@ServicioC.ServicioContratistaNombre</option>
                        }
                    </select><br>
                    <input id="modificar" type="submit" class="float-right btn btn-success" name="" value="Guardar">



                </form>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" tabindex="-1" role="dialog" id="ventana2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deshabilitar Contratista</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Esta seguro que desea deshabilitar el/la contratista? </p>
            </div>
            <div class="modal-footer">
                <button id="deshabilitar" type="button" class="btn btn-primary" data-dismiss="modal">Deshabilitar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade bd-example-modal-lg" aria-labelledby="myLargeModalLabel" id="ventana3">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4>Registrar Contratistas</h4>
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
                <form method="post" action="/Contratista/Index" id="CrearContratista">

                    @if (User.IsInRole("Admin"))
                    {
                        <label>Condominio:</label>
                        <select class="form-control" id="Condominio" name="PersonaCondominioId">
                            @foreach (CondominioHosting.Models.BusquedaCondominioProcResult Ct in ViewBag.condominio)
                            {
                                <option value="@Ct.CondominioId">@Ct.CondominioNombre</option>
                            }
                        </select>
                    }
                    @if (User.IsInRole("Contratistas"))
                    {
                        <input type="hidden" name="PersonaCondominioId" value="@ViewBag.CondominioId" />
                    }
                    <label>Nombre:</label>
                    <input type="text" name="PersonaNombre" class="form-control" maxlength="50" required pattern="[ a-zA-Z_-]{2,40}"  title="Solo las letras estan permitidas">
                    <label>Apellido:</label>
                    <input type="text" name="PersonaApellido" class="form-control" maxlength="50" required pattern="[ a-zA-Z_-]{2,40}"  title="Solo las letras estan permitidas">
                    <label>Sexo:</label>
                    <select class="form-control" name="PersonaSexoId">
                        @foreach (CondominioHosting.Models.SexoTable sexo in ViewBag.sexo)
                        {
                            <option value="@sexo.SexoId">@sexo.SexoDescripcion</option>
                        }
                    </select>
                    <label>Teléfono:</label>
                    <input type="text" name="PersonaTelefono" class="form-control Telefono" required><br />
                    <label>Documento:</label><br />
                    <input type="text" name="PersonaDocumento" class="form-control cedula" required />
                    <label>Dirección:</label><br>
                    <textarea class="form-control" name="PersonaDireccion" required></textarea><br />
                    <label>Nombre Compañía:</label>
                    <input type="text" name="PersonaCompañia" class="form-control" required>
                    <label>RNC:</label>
                    <input type="text" name="PersonaRNC" class="form-control" required><br>
                    <label>Tipo de servicio</label>
                    <select class="form-control" name="PersonaServicio">
                        @foreach (CondominioHosting.Models.ServicioContratistaTable ServicioC in ViewBag.servicio)
                        {
                            <option value="@ServicioC.ServicioContratistaId">@ServicioC.ServicioContratistaNombre</option>
                        }
                    </select><br>
                    <input type="hidden" name="PersonaTipoId" value="5" />
                    <input type="hidden" name="PersonaRolId" value="1" />
                    <input type="hidden" name="PersonaActivo" value="true" />

                    <input type="submit" class="float-right btn btn-success" name="" value="Guardar">
                </form>
            </div>
        </div>
    </div>
</div>





<a href="#ventana3" id="btn-agregar" class="btn btn-success" data-toggle="modal">Agregar</a>

@section script{

    <script>

    $(function ($) {

        $("#Buscar").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#Tabla tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $(".Telefono").mask("(999)-999-9999");
        $(".cedula").mask("999-9999999-9");


    });

    var id;
    $(document).ready(function () {


        $(".des").on("click", function () {
            id = $(this).attr("value");
        });



        $("#deshabilitar").on("click", function () {
            var data;
            $.ajax({ method: "POST", url: "/Contratista/Deshacer/" + id, data: data });
            $("#FullTable").load(" #FullTable");
        });


        $(".mod").on("click", function () {
            id = $(this).attr("value");
            var data;
            $.ajax({
                method: "GET", url: "/Contratista/ObtenerDatos/" + id, data: data,
                success: function (data) {
                    debugger;
                    document.getElementById('Nombre').value = data.nombre;
                    document.getElementById('Apellido').value = data.apellido;
                    document.getElementById('Sexo').value = data.sexo;
                    document.getElementById('Telefono').value = data.telefono;
                    document.getElementById('Documento').value = data.documento;
                    document.getElementById('Direccion').value = data.direccion;
                    document.getElementById('Compa').value = data.compa;
                    document.getElementById('RNC').value = data.rnc;
                    document.getElementById('Servicio').value = data.servicio;
                },
                error: function (data) {
                    debugger;
                    alert('error');
                }

            });

        });

        $("#modificar").on("click", function () {
            var nombre = document.getElementById('Nombre').value;
            var apellido = document.getElementById('Apellido').value;
            var sexo = document.getElementById('Sexo').value;
            var telefono = document.getElementById('Telefono').value;
            var documento = document.getElementById('Documento').value;
            var direccion = document.getElementById('Direccion').value;
            var compa = document.getElementById('Compa').value;
            var rnc = document.getElementById('RNC').value;
            var servicio = document.getElementById('Servicio').value;
            var data2 = { "nombre": nombre, "apellido": apellido, "sexo": sexo, "telefono": telefono,"documento":documento, "direccion": direccion, "compa": compa,"rnc": rnc, "servicio": servicio };
            $.ajax({ method: "POST", url: "/Contratista/Modificar/" + id, data: data2 });
        });



    });


    </script>
}